server {
    listen 80;
    listen [::]:80;

    server_name ${NGINX_HOST} www.${NGINX_HOST};

    root /var/www/${NGINX_HOST}/public;
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ /index.php?q=\$uri\&$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php7.4-fpm.sock;
    }

    location ~ /\.ht {
        deny all;
    }
}